@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Developer page!</h1>
    <p>I created this web app to be something of an interactive résumé. This web app is written in .NETCore 3.1 using the razor syntax. The Job History page uses a Database for the data while the Projects page uses GitHub's REST API. The source code for this web app can be found <a href="https://github.com/atvfool/andrewhaydendev" target="_blank">here</a>. This web app isn't intended to show the extent of my knowledge but to reinforce my résumé. Not only did I write this web app but I also set up the web server and database server.</p>
</div>
