@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <div class="card-header">
            <h1 class="display-4">Welcome to my Developer page!</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
                <img class="rounded card-img-top" style="width:100%;" src="~/static/me.jpg" />
            </div>
        </div>
        <div class="card-body">
            <p>I created this web app to be something of an interactive résumé. This web app is written in .NETCore 3.1 using the razor syntax. The Job History page uses a Database for the data while the Projects page uses GitHub's REST API. The source code for this web app can be found <a href="https://github.com/atvfool/andrewhaydendev" target="_blank">here</a>. This web app isn't intended to show the extent of my knowledge but to reinforce my résumé. Not only did I write this web app but I also set up the web server and database server.</p>
        </div>
    </div>
    
</div>
