@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Developer Page!</h1>
    <p>Feel free to look around at the different <a asp-area="" asp-controller="Projects" asp-action="Index">projects</a> I've made or check out the code for it all on my <a href="https://github.com/atvfool">GitHub</a>.</p>
</div>
