@{ ViewData["Title"] = "Résumé"; }

<div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src="https://docs.google.com/document/d/e/2PACX-1vQNTCobWkRZKHGPkphmcbTLI8-deZjtLGk2fzQQPQAlolOsn6DOcD3XFGyBekNYCqtRdd5DC91D5JLR/pub?embedded=true"></iframe>
</div>
